encryption = 'age'
[age]
   identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
   recipient = 'age1uckac3pea45e3lqmtlv3d7tcrrjv4euvzmetyzt0c0d4w4v6sp0qxdpqcs'

[git]
   autoCommit = true
   autoPush = false
